.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  
  backdrop-filter: blur(8px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: padding 0.3s ease, background 0.3s ease;
  margin-bottom: 2rem;
}

.nav--scrolled {
  padding: 2px 20px;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #ffffff;
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.nav--scrolled .logo {
  font-size: 1rem;
}

.links a {
  margin-left: 26px;
  text-decoration: none;
  color: #cfcfcf;
  font-size: 0.95rem;
  transition: 0.25s ease;
}

.nav--scrolled .links a {
  font-size: 0.85rem;
}


.links a:hover {
  color: #bb9f02;
}

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 6px 13px;
  border-radius: 4px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-outline:hover {
  background: #bb9f02;
  color: #000000 !important;
}

.btn-primary {
  background: #ff2a6d;
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  opacity: 0.85;
}